.p-footer-widget-area {
  padding-top: 50px;
  border-top: 1px solid $gray-300;
  &__container {
    @include mq-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.p-footer-widget {
  @include mq-up(lg) {
    width: 33%;
  }
}