@import "archive";
@import "breadcrumbs";
@import "comments";
@import "copyright";
@import "entry";
@import "footer-widget";
@import "header-menu";
@import "posts-pagination";
@import "share-buttons";
@import "site-header-content";
@import "sp-footer-menu";

.p-sp-sidebar {
  padding-top: 30px;
  padding-bottom: 30px;
  @include mq-up(lg) {
    padding-top: 0;
    width: 336px;
  }
  //&.is-active-footer-menu {
  //  position: fixed;
  //  top: 100%;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: #fff;
  //  overflow-y: auto;
  //  z-index: 10002;
  //  transition: all 1s ease;
  //  @include mq-up(lg) {
  //    position: inherit;
  //    width: 336px;
  //  }
  //  &.is-active {
  //    top: 50px;
  //    box-shadow: 1px 0 3px rgba($gray-400, .75);
  //  }
  //}
}